In [26]:
import pandas

In [45]:
import datetime
back_then = datetime.datetime.now() - datetime.timedelta(days=365)
recently = datetime.datetime.now() - datetime.timedelta(days=2)

In [46]:
import pandas_datareader

In [47]:
import matplotlib

In [49]:
Westpac = pandas_datareader.data.DataReader('wbc.ax' ,'yahoo', back_then, )
Westpac = pandas.DataFrame[Westpac.Vol]

             Open    High     Low  Close    Volume  Adj Close
Date
2016-03-02  30.07  30.920  29.990  30.69   9394400   28.13757
2016-03-03  30.90  31.250  30.410  31.23   7897300   28.63266
2016-03-04  31.38  31.805  31.320  31.71   6387600   29.07274
2016-03-07  31.98  32.320  31.850  32.12   6042800   29.44864
2016-03-08  32.10  32.450  31.650  31.81   8329200   29.16442
2016-03-09  31.90  32.530  31.780  32.53   6408900   29.82454
2016-03-10  32.54  32.800  32.360  32.52   4278100   29.81537
2016-03-11  32.42  32.970  32.340  32.74   4652000   30.01707
2016-03-14  33.04  33.400  32.740  32.88   8116900   30.14543
2016-03-15  32.69  33.110  32.230  32.30   5125400   29.61367
2016-03-16  32.18  32.620  32.080  32.49   4471900   29.78787
2016-03-17  32.90  32.980  32.510  32.69   8010300   29.97123
2016-03-18  32.90  33.090  32.570  32.68   7578600   29.96206
2016-03-21  32.79  32.830  32.390  32.52   3421500   29.81537
2016-03-22  32.50  32.650  32.340  32.43   6207900   29.73286
2016-03-23  32.40  32.410  32.070  32.33   4769000   29.64117
2016-03-24  32.01  32.060  30.810  30.85  16328300   28.28426
2016-03-25  30.85  30.850  30.850  30.85         0   28.28426
2016-03-28  30.85  30.850  30.850  30.85         0   28.28426
2016-03-29  30.95  31.000  29.780  29.93   8412000   27.44078
2016-03-30  30.41  30.660  29.640  29.89   6380100   27.40410
2016-03-31  30.11  30.470  30.060  30.35   6954800   27.82585
2016-04-01  29.85  30.130  29.470  29.65   8385900   27.18406
2016-04-04  29.50  30.210  29.460  29.71   3774200   27.23907
2016-04-05  29.61  29.670  28.940  29.13   5962300   26.70731
2016-04-06  29.02  29.270  28.460  28.68   6210500   26.29474
2016-04-07  28.89  29.220  28.760  28.86   5729700   26.45977
2016-04-08  28.50  28.740  28.210  28.52   5067500   26.14804
2016-04-11  28.50  28.660  28.155  28.42   4604800   26.05636
2016-04-12  28.42  29.130  28.400  29.13   5077900   26.70731
...           ...     ...     ...    ...       ...        ...
2017-01-19  32.70  32.700  32.150  32.33   4247800   32.33000
2017-01-20  32.00  32.090  31.680  31.85   6274100   31.85000
2017-01-23  32.15  32.260  31.680  31.78   4817900   31.78000
2017-01-24  31.74  31.940  31.600  31.65   4740700   31.65000
2017-01-25  32.00  32.030  31.770  31.77   6611300   31.77000
2017-01-26  31.77  31.770  31.770  31.77         0   31.77000
2017-01-27  31.94  32.390  31.910  32.35   4581400   32.35000
2017-01-30  32.18  32.280  31.860  32.01   3350500   32.01000
2017-01-31  31.95  31.950  31.520  31.71   6368300   31.71000
2017-02-01  31.71  32.010  31.530  31.99   3987200   31.99000
2017-02-02  32.10  32.230  31.820  32.01   4090600   32.01000
2017-02-03  32.02  32.120  31.830  31.89   2724300   31.89000
2017-02-06  32.23  32.430  32.045  32.05   5644800   32.05000
2017-02-07  31.92  32.080  31.620  31.97   4305000   31.97000
2017-02-08  32.29  32.390  31.970  32.27   5321600   32.27000
2017-02-09  32.38  32.540  32.100  32.30   3423100   32.30000
2017-02-10  32.64  32.810  32.600  32.73   5317300   32.73000
2017-02-13  32.83  32.870  32.660  32.81   4219900   32.81000
2017-02-14  32.92  33.020  32.560  32.69   3964600   32.69000
2017-02-15  33.05  33.460  33.000  33.27   6946600   33.27000
2017-02-16  33.70  33.700  33.480  33.65   6620700   33.65000
2017-02-17  33.72  33.880  33.640  33.88   7428400   33.88000
2017-02-20  33.90  34.120  33.760  34.12   5098800   34.12000
2017-02-21  33.95  34.190  33.900  34.13   7461300   34.13000
2017-02-22  34.24  34.380  34.170  34.26   5766600   34.26000
2017-02-23  34.28  34.350  34.060  34.17   4753200   34.17000
2017-02-24  34.26  34.320  33.910  34.09   8158600   34.09000
2017-02-27  34.00  34.000  33.650  33.81   4822900   33.81000
2017-02-28  33.90  34.320  33.700  33.70   7068700   33.70000
2017-03-01  33.68  33.950  33.410  33.91   5917400   33.91000

[261 rows x 6 columns]

In [39]:
pandas_datareader.data.DataReader?

In [60]:
import matplotlib
%matplotlib inline
x = Westpac.Volume
y = Westpac.Close
Westpac.Volume.plot

In [61]:
import pandas_datareader. wb

In [ ]:
rural =